$color-primary: #ae2012;

@mixin project_img($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
    opacity: 50%;
}


/*
<div class="project_box">

<div class="proj">
    <h1>Name of the project</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt voluptates inventore neque, nemo quidem delectus iusto quod aliquam id ex laborum iste totam eaque ipsa consequuntur voluptas fuga. Rerum.</p>
</div>
<div class="proj_img"></div>

</div> */ 